# 変数

## 数値

In [3]:
a=1

In [4]:
print(a)

1

In [5]:
a

1

In [6]:
b = 1.5

In [7]:
b

1.5

In [8]:
type(a) #integer　整数

int

In [9]:
type(b) #実数

float

# 文字列

In [10]:
name = 幾何学

NameError: name '幾何学' is not defined

In [11]:
name = 'kikagaku'

In [12]:
name

'kikagaku'

In [13]:
a + name

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [14]:
2*3

6

In [15]:
3*5

15

In [16]:
10/2

5.0

In [17]:
2**3

8

# 基本構文

# 比較演算

In [18]:
1<2

True

In [19]:
a=3

In [20]:
a<2

False

In [22]:
a == 3

True

In [23]:
a == 4

False

In [24]:
a != 3

False

In [25]:
a != 4

True

# エスケープシーケンス

In [30]:
print("私は幾何学です。\n改行お願いします。\n\t Tab1\n\t Tab2")

私は幾何学です。
改行お願いします。
	 Tab1
	 Tab2

In [31]:
#comment out

# 複数の変数を扱おう

## リスト

In [34]:
numbers = [1,2,3,4,5]

In [35]:
numbers

[1, 2, 3, 4, 5]

In [36]:
numbers[0]

1

In [37]:
numbers[0:3]

[1, 2, 3]

In [38]:
numbers[2:4]

[3, 4]

In [39]:
numbers[:2] #最初から

[1, 2]

In [40]:
numbers[2:] #２〜

[3, 4, 5]

In [41]:
numbers[0] = 10

In [42]:
numbers

[10, 2, 3, 4, 5]

In [45]:
fruits = ['apple','orange','rafrance','suika','meron']

In [46]:
fruits

['apple', 'orange', 'rafrance', 'suika', 'meron']

In [47]:
names = [] #brank

In [48]:
nemes

NameError: name 'nemes' is not defined

In [49]:
names

[]

In [51]:
names.append('corporate')

In [52]:
names

['corporate']

In [53]:
names.append('kikagaku')

In [54]:
names

['corporate', 'kikagaku']

## タプル 上書き出来ない

In [55]:
t = (4,5,6,7) #taple  ()

In [56]:
t

(4, 5, 6, 7)

In [57]:
t[0]

4

In [58]:
t[:2]

(4, 5)

# dictionary

In [59]:
results = {'muth': 90, 'sucience': 75, 'english': 80 }

In [60]:
results

{'muth': 90, 'sucience': 75, 'english': 80}

In [62]:
results['muth']

90

# 制御構文

## for分：繰り返し

In [64]:
for i in range(5):
    print(i) #tab4
    print('kikagaku')

0
kikagaku
1
kikagaku
2
kikagaku
3
kikagaku
4
kikagaku

In [84]:
names = ['sato','suzuki','takahashi','yoshida','honda','tanaka']

In [86]:
for i in range(len(names)):
    print(names[i]+'さん')

satoさん
suzukiさん
takahashiさん
yoshidaさん
hondaさん
tanakaさん

In [87]:
len(names)  #length

6

In [89]:
for name in names:
    print(name+'さん')

satoさん
suzukiさん
takahashiさん
yoshidaさん
hondaさん
tanakaさん

## if文：条件分岐

In [95]:
val = 0
if val > 0:
    print('true')
elif val == 0:
    print('0')
else:
    print('false')

0

# 関数

## 一番簡単な関数

In [98]:
#define
def say_hello():
    print('Hello,Ryota')
    print('nice to meet you')

In [99]:
say_hello()

Hello,Ryota
nice to meet you

## 入力（引数）のある関数

In [103]:
def say_hello2(name):
    print('Hello,' + name +'さん')
    print('nice to meet you')

In [105]:
say_hello2('ryota')

Hello,ryotaさん
nice to meet you

## 出力（返り値）のある関数

In [111]:
def add(a,b,c):
    return a + b +c

In [112]:
result = add(3,5,10)

In [113]:
result

18

## 実践課題　絶対値を返す関数　abs を作る
出力のイメージ
・ abs(-1) -> 1
・ abs(-5.2) -> 5.2
・ abs(3) -> 3

In [114]:
def abs(num):
    if num < 0:
        return -1 * num 
    else:
        return num

In [115]:
abs(-1)

1

In [116]:
abs(5.2)

5.2

In [117]:
abs(-5.2)

5.2

In [118]:
abs(3)

3